<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="post_link">
        <label>Long link</label>
        <input id="long_link" name="long_link" type="text">
        <input type="submit">
    </form>

{#    <h1>{{ short_url }}</h1>#}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for m in messages %}
                <h1>{{ m }}</h1>
            {% endfor %}
        {% endif %}
    {% endwith %}

</body>
</html>